# Boulder

In [82]:
import pandas as pd

In [83]:
#saved the bike location as a dataframe, named df
df1=pd.read_csv('Boulder_Location.csv')
df1.head()

,Checkout Station,Return Station,Checkout Station Latitude,Checkout Station Longitude,Return Station Latitude,Return Station Longitude,Power Source,Installation Date,Removal Date,Most Recent Number of Docks
0,10th & Walnut,10th & Walnut,40.016219,-105.282148,40.016219,-105.282148,Grid electricity,5/20/2011,10/1/2014,11
1,11th & Pearl,11th & Pearl,40.017535,-105.281234,40.017535,-105.281234,Grid electricity,5/20/2011,Not applicable,15
2,13th & Arapahoe,13th & Arapahoe,40.014600,-105.277780,40.014600,-105.277780,Solar,9/12/2014,Not applicable,13
3,13th & College,13th & College,40.007386,-105.276681,40.007386,-105.276681,Solar,8/6/2014,Not applicable,13
4,13th & Spruce,13th & Spruce,40.019090,-105.278898,40.019090,-105.278898,Solar,5/20/2011,Not applicable,14

In [84]:
#No of Stations
len(df1)

47

In [85]:
#saved the Chattanooga bike location as a dataframe, named df
df2=pd.read_csv('Boulder2017.csv')
df2.head()

,Rider Home System,Rider or Operator Number,Entry Pass Type,Bike Number,Checkout Date,Checkout Day of Week,Checkout Time,Checkout Station,Return Date,Return Day of Week,Return Time,Return Station,Trip Duration (Minutes)
0,Boulder B-cycle,R1094717,Annual,913,1/1/2017,Sunday,12:08:00 AM,13th & Spruce,1/1/2017,Sunday,12:13:00 AM,Broadway & Alpine,5
1,Boulder B-cycle,R1066072,Annual,938,1/1/2017,Sunday,12:08:00 AM,13th & Spruce,1/1/2017,Sunday,12:13:00 AM,Broadway & Alpine,5
2,Boulder B-cycle,R1004330,Annual,745,1/1/2017,Sunday,12:15:00 AM,11th & Pearl,1/1/2017,Sunday,12:29:00 AM,11th & Pearl,14
3,Boulder B-cycle,R1048559,24-hour,606,1/1/2017,Sunday,12:16:00 AM,11th & Pearl,1/1/2017,Sunday,12:33:00 AM,31st & Pearl,17
4,Boulder B-cycle,R1019007,24-hour,660,1/1/2017,Sunday,12:18:00 AM,11th & Pearl,1/1/2017,Sunday,12:53:00 AM,31st & Pearl,35

In [86]:
#No of trips in 2017
len(df2)

122331

In [87]:
#no of trips checkedout from each station
t = pd.value_counts(df2['Checkout Station'])
t.head()

15th & Pearl         5325
Folsom & Colorado    5187
28th & Mapleton      4555
13th & Spruce        4307
21st & Arapahoe      4255
Name: Checkout Station, dtype: int64

In [88]:
#converting to df
Trip = t.to_frame()

In [89]:
Trip.to_csv('Trips_CO.csv')

In [90]:
#to get total minutes of trips checked out from each station
m = df2['Trip Duration (Minutes)'].groupby(df2['Checkout Station'])

In [91]:
n = m.sum()
n.head()

Checkout Station
11th & Pearl       102100
13th & Arapahoe    138094
13th & College      44239
13th & Spruce      112312
14th & Canyon      132488
Name: Trip Duration (Minutes), dtype: int64

In [92]:
#converting to df
Duration = n.to_frame()

In [93]:
Duration.to_csv('Duration_CO.csv')