# Columbus

In [46]:
import pandas as pd
import numpy as np

In [47]:
#saved the bike location as a dataframe, named df
df1=pd.read_csv('ColumbusLocation.csv')
df1.head()

   Station ID   Latitude  Longitude                Station Name
0           1  39.955864 -83.003106           Bicentennial Park
1           2  39.963524 -83.002854                   City Hall
2           3  39.950124 -83.000235          Front St & Beck St
3           4  39.945895 -83.009070       Scioto Audubon Center
4           5  39.954717 -82.998879  Dorrian Commons - Mound St

In [48]:
#No of Stations
len(df1)

46

In [49]:
#saved the Chattanooga bike location as a dataframe, named df
df2=pd.read_csv('Columbus2017.csv')
df2.head()

,Start Time and Date,Stop Time and Date,Start Station ID,Start Station Name,Start Station Lat,Start Station Long,Stop Station ID,Stop Station Name,Stop Station Lat,Stop Station Long,Bike ID,User Type,Gender,Year of Birth
0,1/1/2017 3:41,1/1/2017 3:54,12,Convention Center,39.970512,-83.002354,54,Neil Ave & King Ave,39.990309,-83.013626,45,Subscriber,1,1974.0
1,1/1/2017 9:51,1/1/2017 10:21,23,High St & Warren,39.977963,-83.003605,1,Bicentennial Park,39.955864,-83.003106,18,Subscriber,1,1916.0
2,1/1/2017 10:21,1/1/2017 10:40,1,Bicentennial Park,39.955864,-83.003106,22,Neil Ave & Buttles Ave,39.977406,-83.011549,18,Subscriber,1,1916.0
3,1/1/2017 10:27,1/1/2017 10:36,29,Topiary Park - Town St,39.960245,-82.986968,3,Front St & Beck St,39.950124,-83.000235,14,Subscriber,1,1990.0
4,1/1/2017 10:49,1/1/2017 10:59,3,Front St & Beck St,39.950124,-83.000235,29,Topiary Park - Town St,39.960245,-82.986968,14,Subscriber,1,1990.0

In [50]:
dates = pd.read_clipboard

In [51]:
#No of trips in 2017
len(df2)

52205

In [52]:
#no of trips checkedout from each station
t = pd.value_counts(df2['Start Station ID'])
t.head()

1     5643
13    2167
4     2050
20    2003
19    1983
Name: Start Station ID, dtype: int64

In [53]:
#converting to df
Trip = t.to_frame()

In [54]:
Trip.to_csv('Trips_OH.csv')